# 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [4]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

#  2: Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [11]:
i = 0
for number in range(1,101):
    i+=number
    print("sum of all number from 1 to 100 is",i)

sum of all number from 1 to 100 is 1
sum of all number from 1 to 100 is 3
sum of all number from 1 to 100 is 6
sum of all number from 1 to 100 is 10
sum of all number from 1 to 100 is 15
sum of all number from 1 to 100 is 21
sum of all number from 1 to 100 is 28
sum of all number from 1 to 100 is 36
sum of all number from 1 to 100 is 45
sum of all number from 1 to 100 is 55
sum of all number from 1 to 100 is 66
sum of all number from 1 to 100 is 78
sum of all number from 1 to 100 is 91
sum of all number from 1 to 100 is 105
sum of all number from 1 to 100 is 120
sum of all number from 1 to 100 is 136
sum of all number from 1 to 100 is 153
sum of all number from 1 to 100 is 171
sum of all number from 1 to 100 is 190
sum of all number from 1 to 100 is 210
sum of all number from 1 to 100 is 231
sum of all number from 1 to 100 is 253
sum of all number from 1 to 100 is 276
sum of all number from 1 to 100 is 300
sum of all number from 1 to 100 is 325
sum of all number from 1 to 100 is 351
sum of all number from 1 to 100 is 378
sum of all number from 1 to 100 is 406
sum of all number from 1 to 100 is 435
sum of all number from 1 to 100 is 465
sum of all number from 1 to 100 is 496
sum of all number from 1 to 100 is 528
sum of all number from 1 to 100 is 561
sum of all number from 1 to 100 is 595
sum of all number from 1 to 100 is 630
sum of all number from 1 to 100 is 666
sum of all number from 1 to 100 is 703
sum of all number from 1 to 100 is 741
sum of all number from 1 to 100 is 780
sum of all number from 1 to 100 is 820
sum of all number from 1 to 100 is 861
sum of all number from 1 to 100 is 903
sum of all number from 1 to 100 is 946
sum of all number from 1 to 100 is 990
sum of all number from 1 to 100 is 1035
sum of all number from 1 to 100 is 1081
sum of all number from 1 to 100 is 1128
sum of all number from 1 to 100 is 1176
sum of all number from 1 to 100 is 1225
sum of all number from 1 to 100 is 1275
sum of all number from 1 to 100 is 1326
sum of all number from 1 to 100 is 1378
sum of all number from 1 to 100 is 1431
sum of all number from 1 to 100 is 1485
sum of all number from 1 to 100 is 1540
sum of all number from 1 to 100 is 1596
sum of all number from 1 to 100 is 1653
sum of all number from 1 to 100 is 1711
sum of all number from 1 to 100 is 1770
sum of all number from 1 to 100 is 1830
sum of all number from 1 to 100 is 1891
sum of all number from 1 to 100 is 1953
sum of all number from 1 to 100 is 2016
sum of all number from 1 to 100 is 2080
sum of all number from 1 to 100 is 2145
sum of all number from 1 to 100 is 2211
sum of all number from 1 to 100 is 2278
sum of all number from 1 to 100 is 2346
sum of all number from 1 to 100 is 2415
sum of all number from 1 to 100 is 2485
sum of all number from 1 to 100 is 2556
sum of all number from 1 to 100 is 2628
sum of all number from 1 to 100 is 2701
sum of all number from 1 to 100 is 2775
sum of all number from 1 to 100 is 2850
sum of all number from 1 to 100 is 2926
sum of all number from 1 to 100 is 3003
sum of all number from 1 to 100 is 3081
sum of all number from 1 to 100 is 3160
sum of all number from 1 to 100 is 3240
sum of all number from 1 to 100 is 3321
sum of all number from 1 to 100 is 3403
sum of all number from 1 to 100 is 3486
sum of all number from 1 to 100 is 3570
sum of all number from 1 to 100 is 3655
sum of all number from 1 to 100 is 3741
sum of all number from 1 to 100 is 3828
sum of all number from 1 to 100 is 3916
sum of all number from 1 to 100 is 4005
sum of all number from 1 to 100 is 4095
sum of all number from 1 to 100 is 4186
sum of all number from 1 to 100 is 4278
sum of all number from 1 to 100 is 4371
sum of all number from 1 to 100 is 4465
sum of all number from 1 to 100 is 4560
sum of all number from 1 to 100 is 4656
sum of all number from 1 to 100 is 4753
sum of all number from 1 to 100 is 4851
sum of all number from 1 to 100 is 4950
sum of all number from 1 to 100 is 5050

# 3: Write a Python program to print the multiplication table of a given number using a for loop.

In [1]:
number= int(input("enter your number"))
print(f"multiplication table of {number}:")
for i in range(1,11):
    print(f"{number} x {i} = {number * i}")

enter your number 19

multiplication table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

# 4: Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop.

In [1]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in number:
    if i % 2==0:
        print(f"{i} is a even number")
    else:
        print(f"{i} is a odd number")

1 is a odd number
2 is a even number
3 is a odd number
4 is a even number
5 is a odd number
6 is a even number
7 is a odd number
8 is a even number
9 is a odd number
10 is a even number

# 5: Write a Python program to find the factorial of a number using a for loop

In [9]:
fact_number = int(input("enter your number"))
sum_number = 0
for i in range (fact_number,0,-1):
    sum_number= fact + i
print(fact)

enter your number 5

15

#  6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [21]:
a, b = 0 ,1
for _ in range(0,10):
    a, b = b, a + b
    print(a)

1
1
2
3
5
8
13
21
34
55

#  7: Write a Python program to check if a given number is prime or not using a for loop.

In [39]:
num = int(input("Enter a number to check if it's prime: "))
i=0
for i in range (2,num):
    if num % i == 0:
        print(num," is not a prime number")
        break
else:
    print( num ,"is prime number")

Enter a number to check if it's prime:  11

11 is prime number

# Question 8: Write a Python program to find the largest element in a list using a for loop.

In [36]:
numbers = [77,88,56,9,47,99]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print("largest number is:",largest)

largest number is: 99

# Question 9: Write a Python program to reverse a given string using a for loop.

In [ ]:
num =input("enter a string:") 
reversed_text = ""
for numbers in num:
    reversed_text = numbers + reversed_text
print(reversed_text)

# Question 10: Write a Python program to find the common elements between two lists using a for loop.

In [6]:
num1 = [1,2,3]
num2 = [4,5,1]
for i in num1:
    if i in num2:
        print(i)

1